*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(../imagenes/fondo-body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* estilos de etiquetas ID  */
#opciones{ 
    display: flex;
    flex-direction: column;
    width: 100%;
}


#facturacion{
    font-size: 20px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


#menus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#ticket{
    width: 500px;
}


#montoTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#carritoImg{
    margin-right: 2rem;
}

#carrito-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  estilo de cards creadas por DOM */
.card{
    width: 300px;
    height: 275px;
    padding: .8em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0px 5px 20px 5px;
}



.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}


/*Text*/
.text-title {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    text-decoration: underline;
    text-transform: uppercase;

}

.text-title--precio {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
}


.text-body {
    font-size: 1.5rem;
    padding-bottom: 10px;
    
}


/* estilo del header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.header div nav ul li{
    list-style: none;
}

.header div nav ul{
    display: flex;
    flex-direction: row;
}

.carro{
    display: flex;
    flex-direction: row;
}

.badgeCarrito{
    background-color:coral;
    border: 1px solid black;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    margin: .5rem 3rem 0rem -3.5rem;
    text-align: center;
    font-size: 1.3rem;
}

/* estilo del section */


/* estilo de botones html */
.btn-info{
    width: 50%;
    height: 35px;
    margin:10px 0px 5px 25%;
    padding: 0px;
    
}

.btn-danger{
    width:auto ;
    height:35px ;
    margin-top: 1rem;
}

.btn-pp{
    margin: 10px;
}

/* estilos de div */
.descripcionTkt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}

.carrito-detalle{
    width: 20rem;
    height: auto;
    font-size: 1.5rem;
    margin-top: 1.7rem;
    text-align:start;
}


.descripcionPedido{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.cardPedido{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
}

/* estilo de texto sweetalert */
.swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
}

#carritoImg{
    width: 60px;
    height: 60px;
}


.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
    font-size: 1.5rem;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
    font-size: 1.5rem;

}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
    font-size: 1.5rem;
}

.pedido{
    display: flex;
    flex-direction: row;
}


#deliveryImg{
    width: 53px;
    height: 53px;
    margin: .3rem 1rem 0rem 1rem;
}

.badgeOrder{
    background-color:red;
    border: 1px solid black;
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 1.3rem 0rem 0rem 5.5rem;
    text-align: center;
    font-size: 1.4rem;
}