/* estilos de etiquetas ID  */
#opciones{ 
    display: flex;
    flex-direction: column;
}

#pedidosPagos{
    display: flex;
    flex-direction: row;
}

#facturacion{
    font-size: 20px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menus{
    display: flex;
    flex-direction: row;
}

#ticket{
    width: 500px;
}


#montoTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  estilo de cards creadas por DOM */
.pedido{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
    font-size: 13px;
    text-align: center;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* estilo del header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* estilo del section */
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

/* estilo de botones html */
.btn-info{
    width: 50%;
    height: 35px;
    margin:10px 0px 5px 25%;
    padding: 0px;
    
}

.btn-danger{
    width:auto ;
    height:35px ;
}


/* estilos de div */
.descripcionTkt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}

.swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}

.descripcionPedido{
    display: flex;
    flex-direction: column;
}