$alineaciones-flex: (
  between: space-between,
  around: space-around
);

$texto-estilos:(
  mayusculas: uppercase,
  subrayado: underline,
  centrado: center
);

body {
  background-image: url(../images/fondo-body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  @extend .flex-column;
  width: 100%;
  min-height: 100vh;
  justify-content: map-get($alineaciones-flex, around);
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.font-size14{
  font-size: 1.4rem;
}

.pFooter{
  font-family: 'Seaweed Script', cursive;
  font-size: 3rem;
  color: white;
  text-align: map-get($texto-estilos , centrado );
}