header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  h1{
    color: white;
    font-size: 5rem;
    margin-left: 1rem;
  }
  div nav ul {
    display: flex;
    flex-direction: row;
    li{
        list-style: none;
    }

  }
}
