header {
  @extend .flex-row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  h1{
    color: white;
    font-size: 5rem;
    margin-left: 1rem;
  }
  nav{ 
    ul {
      @extend .flex-row;
      li{
        list-style: none;
      }
    }

  }
}
