/* estilo de texto sweetalert */
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
  font-size: 1.4rem;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
  font-size: 1.4rem;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
  font-size: 1.4rem;
}

/* estilo div img delivery  */
.pedido {
  display: flex;
  flex-direction: row;
}

/* notificacion delivery */
.badgeOrder {
  background-color: red;
  border: 1px solid black;
  display: block;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  margin: 1.4rem 0rem 0rem 5.5rem;
  text-align: center;
  font-size: 1.4rem;
}

.swal2-popup {
  font-size: 1.3rem;
}

.menu-fpago p {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: bold;
}

.swal2-popup.swal2-toast {
  font-size: 1.4rem;
}

.icon {
  width: 4.8rem;
  height: 4.8rem;
}

.iconsTecnologys {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
}

.nameAndfavicon{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.iconPage{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
