#opciones {
  @extend .flex-column;
  width: 100%;
}

#menus {
  @extend .flex-row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#carrito {
  width: 500px;
}

#carrito-total {
  @extend .flex-row;
  justify-content: space-between;
}

#carritoImg {
  @include sizes(60px, 60px);
  margin-right: 2rem;
}

#deliveryImg {
  @include sizes(53px, 53px);
  @include margenes(0.3rem, 1rem, 0rem, 1rem);
}

.card {
  @include sizes(300px, 275px);
  @include margenes(0px, 5px, 20px, 5px);
  padding: 0.8em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  &-info {
    @extend .flex-column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
  }
  &-footer {
    @extend .flex-row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
}

/*estilo txt de las cards*/
.text {
  &-title {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.4;
    text-decoration: underline;
    text-transform: uppercase;
    &--precio {
      font-weight: 900;
      font-size: 2rem;
      line-height: 1.4;
      text-transform: uppercase;
    }
  }
  &-body {
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
}

.carro {
  @extend .flex-row;
}

.pedido {
  @extend .flex-row;
}

.carrito-detalle {
  @include sizes(20rem, auto);
  font-size: 1.4rem;
  margin-top: 1.7rem;
  text-align: start;
}

.descripcionTkt {
  @extend .flex-row;
  @include margenes(10px, 10px, 10px, 10px);
  justify-content: space-between;
}

.banner {
  p {
    @include margenes(0rem, 0rem, 2rem, 1rem);
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.descripcionPedido {
  @extend .flex-column;
  font-size: 10px;
}



.menu-fpago {
  p {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
  }
}
