#opciones {
  @extend .flex-column;
  width: 100%;
}

#menus {
  @extend .flex-row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#carrito {
  width: 500px;
}

#carrito-total {
  @extend .flex-row;
  justify-content: space-between;
}

#carritoImg {
  @include sizes(60px,60px);
  margin-right: 2rem;
}

#deliveryImg {
  @include sizes(53px,53px);
  margin: 0.3rem 1rem 0rem 1rem;
}

.card {
  @include sizes(300px,275px);
  padding: 0.8em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0px 5px 20px 5px;
}

.card-info {
  @extend .flex-column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.card-footer {
  width: 100%;
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*estilo txt de las cards*/
.text-title {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.4;
  text-decoration: underline;
  text-transform: uppercase;
}

.text-title--precio {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.text-body {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

/* estilo icono carrito */
.carro {
  @extend .flex-row;
}


.carrito-detalle {
  @include sizes(20rem,auto);
  font-size: 1.4rem;
  margin-top: 1.7rem;
  text-align: start;
}

.descripcionTkt {
  @extend .flex-row;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

.banner {
  p {
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
    text-decoration: solid;
    text-decoration: underline;
    margin: 0rem 0rem 2rem 1rem;
  }
  
}

.descripcionPedido {
  @extend .flex-column;
  font-size: 10px;
}

.pedido {
  @extend .flex-row;
}

.menu-fpago{
  p {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
  }
  
}