#opciones {
  @extend .flex-column;
  width: 100%;
}

#menus {
  @extend .flex-row;
  justify-content: map-get($alineaciones-flex, around);
  flex-wrap: wrap;
}

#carrito {
  width: 50rem;
}

#carrito-total {
  @extend .flex-row;
  justify-content: map-get($alineaciones-flex, between);
}

#carritoImg {
  @include sizes(6rem, 6rem);
}

#deliveryImg {
  @include sizes(5.3rem, 5.3rem);
  @include margenes(0.3rem, 1rem, 0rem, 1rem);
}

.card {
  @include sizes(30rem, 27.5rem);
  @include margenes(0rem, 0.5rem, 2rem, 0.5rem);
  padding: 0.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  &-info {
    @extend .flex-column;
    justify-content:map-get($alineaciones-flex , between );
    text-align: map-get($texto-estilos , centrado );
    height: 100%;
  }
  &-footer {
    @extend .flex-row;
    width: 100%;
    justify-content: map-get($alineaciones-flex , between );
    align-items:map-get($texto-estilos , centrado );
    padding-top: 1rem;
    border-top: 1px solid #ddd;
  }
}

/*estilo txt de las cards*/
.text {
  &-title {
    @include txtCard(900,2rem,1.4);
    text-decoration:map-get($texto-estilos , subrayado );
    text-transform: map-get($texto-estilos , mayusculas );
    &--precio {
      @include txtCard(900,2rem,1.4);
      text-transform: map-get($texto-estilos , mayusculas );
    }
  }
  &-body {
    @extend .font-size14;
    padding-bottom: 1rem;
  }
}

.carro {
  @extend .flex-row;
}

.pedido {
  @extend .flex-row;
}

.carrito-detalle {
  @include sizes(20rem, auto);
  @extend .font-size14;
  margin-top: 1.7rem;
  text-align: start;
}

.descripcionTkt {
  @extend .flex-row;
  @include margenes(10px, 10px, 10px, 10px);
  justify-content: map-get($alineaciones-flex , between ); 
}

.banner {
  p {
    @include margenes(0rem, 0rem, 2rem, 1rem);
    font-size: 2.5rem;
    color: black;
    text-decoration:map-get($texto-estilos , subrayado );
    text-transform: map-get($texto-estilos , mayusculas );
  }
}

.descripcionPedido {
  @extend .flex-column;
  font-size: 1rem;
}



.menu-fpago {
  p {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
  }
}
