#opciones {
  @extend .flex-column;
  width: 100%;
}

#menus {
  @extend .flex-row;
  margin: 10rem;
  justify-content: map-get($alineaciones-flex, around);
  flex-wrap: wrap;
}

#carrito {
  width: 50rem;
}

#carrito-total {
  @extend .flex-row;
  flex-grow: 0.5;
  align-items: map-get($texto-estilos , centrado );
  gap:1rem;
  .botones{
    @extend .flex-row;
    gap: 2rem;
    #modal-btnPagar{
      @include sizes(5rem,5rem);
    }
    #modal-btnVaciar{
      @include sizes(5rem,5rem);
    }
  }
}

.carrito{
  &-monto{
    @extend .flex-row, .font-size14;
    @include sizes(100%,auto);
    justify-content: start;
    gap: 1.5rem;
    color: white;
    font-size: 4rem;
    font-family: 'Bangers', cursive;
    -webkit-text-stroke: 1px black;
    
  }
  &-detalle {
    @include sizes(20rem, auto);
    color: white;
    font-size: 2.4rem;
    font-family: 'Bangers', cursive;
    margin-top: 1.7rem;
    text-align: start;
  }
  
}

#carritoImg {
  @include sizes(8rem, 6.7rem);
  // margin-top: 0.5rem;
}

#deliveryImg {
  @include sizes(6rem, 6rem);
}

.card {
  @include sizes(30rem, 27.5rem);
  @include margenes(0rem, 0.5rem, 2rem, 0.5rem);
  background-image: url(../images/fondo-card2.jpg)!important;
  background-position: center;
  padding: 0.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  &-info {
    @extend .flex-column;
    background-color: rgba(245, 243, 243, 0.35)!important;
    justify-content:map-get($alineaciones-flex , between );
    text-align: map-get($texto-estilos , centrado );
    height: 100%;
    img{
      @include sizes(28rem,25rem);
    }
  }
  &-footer {
    @extend .flex-row;
    background-color: rgba(245, 243, 243, 0.35)!important;
    width: 100%;
    justify-content: map-get($alineaciones-flex , between );
    align-items:map-get($texto-estilos , centrado );
    padding-top: 1rem;
    border-top: 1px solid #ddd;
    img{
      &:hover{
        transform: scale(1.2);
      }
      &:active{
        transform: scale(1.1);
      }
    }
  }
}

/*estilo txt de las cards*/
.text {
  &-title {
    @include txtCard(900,2.5rem,1.4);
    margin: 0rem;
    font-family: 'Englebert', sans-serif;
    text-decoration:map-get($texto-estilos , subrayado );
    text-transform: map-get($texto-estilos , mayusculas );
    &--precio {
      @include txtCard(900,2rem,1.4);
      font-family: 'Englebert', sans-serif;
      text-transform: map-get($texto-estilos , mayusculas );
    }
  }
  &-body {
    @include sizes(28rem,19rem);
    font-family: 'Englebert', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
}

.offcanvas{
  background-image: url(../images/fondo-carrito.png)!important;
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  &-title{
    font-size: 2rem;
    color: white;
    font-size: 4.5rem;
    font-family: 'Bangers', cursive;
    margin-left: 1rem;
  }
}  

.carro {
  @extend .flex-row;
}

.pedido {
  @extend .flex-row;
}

.descripcionTkt {
  @extend .flex-row;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: map-get($alineaciones-flex , around ); 
  border-radius: 1rem;
  .tkt-iconos{
    margin-top: 2rem;
    img{
      &:hover{
        transform: scale(1.2);
      }
      &:active{
        transform: scale(1.1);
      }
    }
  }
}

.banner {
  h3 {
    font-size: 4.5rem;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: 'Bangers', cursive;
    margin: 3rem 0rem 0rem 1rem;
    text-transform: map-get($texto-estilos , mayusculas );
  }
}

.descripcionPedido {
  @extend .flex-column;
  font-size: 1rem;
}

.menu-fpago {
  p {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
  }
}
