/* estilo de texto sweetalert */
.colored-toast {
  &.swal2-icon{
    &-success {
      background-color: #a5dc86 !important;
      @extend .font-size14;
    }
    &-error {
      background-color: #f27474 !important;
      @extend .font-size14;
    }
    &-warning {
      background-color: #f8bb86 !important;
      @extend .font-size14;
    }
  }
}

.statusCarrito{
  @include sizes(2.2rem,2.2rem);
}

/* notificacion iconos */
.badge{
  &-order {
    @include sizes(1.4rem,1.4rem);
    @extend .font-size14;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    text-align:map-get($texto-estilos , centrado );
  }
  &-carrito {
    @include sizes(2.2rem,2.2rem);
    @extend .font-size14;
    background-color: coral;
    border: 1px solid black;
    border-radius: 50%;
    text-align: map-get($texto-estilos , centrado );
  }
}

.swal2-popup {
  font-size: 1.3rem;
  &.swal2-toast {
    @extend .font-size14;
  }
}

.icon {
  @include sizes(4.8rem,4.8rem);
}

.iconsTecnologys {
  @extend .flex-row;
  gap: 2rem;
  margin-bottom: 1rem;
  img{
    animation: flotar 3s linear infinite;
    &:nth-child(2) {
      animation-delay: .2s;
    }
    &:nth-child(3) {
      animation-delay: .4s;
    }
    &:nth-child(4) {
      animation-delay: .6s;
    }
    &:nth-child(5) {
      animation-delay: .8s;
    }
    &:nth-child(6) {
      animation-delay: .10s;
    }
  }
}

