@mixin sizes($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

@mixin margenes($top, $right, $bottom, $left){
    margin: $top, $right, $bottom, $left;
}

@mixin txtCard($weight,$size,$lheight,) {
    font-weight:$weight ;    
    font-size:$size ;
    line-height:$lheight ;
}



