body {
  background-image: url(../../images/fondo-body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  @extend .flex-column;
  @include sizes(100%,100vh);
  justify-content: space-around;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

$alineaciones-flex: (
  between: space-between,
  around: space-around
);

$texto-estilos:(
  mayusculas: uppercase,
  subrayado: underline,
  centrado: center
);