footer {
  @extend .flex-row;
  justify-content: map-get($alineaciones-flex, around);
  background-color: rgba(0, 0, 0, 0.5);
}

.autor {
  p {
    @extend .pFooter;
  }
  h6{
    @extend .pFooter;
    text-decoration: none;
  }
}

.herramientas {
  @extend .flex-column;
  justify-content: map-get($alineaciones-flex, around);
  p{
    @extend .pFooter;
  }
}
