header {
  @extend .flex-row;
  @include sizes(100%,auto);
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.5);

  // background-image: url(../images/fondo-navbar.jpg);
  background-repeat: repeat-x;
  background-size: 50rem;
  h1{
    color: white;
    -webkit-text-stroke: 3px black;
    font-family: 'Bangers', cursive;
    font-size: 8rem;
    margin: 0rem;
  }
  div{
    nav{ 
      margin-top: 1rem;
      ul {
        @extend .flex-row;
        @include sizes(20rem,auto);
        justify-content: map-get($alineaciones-flex, around);
        li{
          list-style: none;
        }
      }
    }
  }
}
