header {
  @extend .flex-row;
  @include sizes(100%,auto);
  gap: 2rem;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-size: 50rem;
  h1{
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 8rem;
    margin: 0rem;
    animation: neon 3s infinite;
    
  }
  .iconos{
    @include sizes(20rem,auto);
    @extend .flex-row;
    justify-content: map-get($alineaciones-flex, around);
    margin-top: 2rem;
  }
  .nameAndfavicon{
    @extend .flex-row;
    align-items: map-get($texto-estilos , centrado );
    gap: 2rem;
  }
  
  .iconPage{
    @include sizes(7rem,7rem);
    border-radius: 50%;
    animation:efectoFavicon 2s infinite;
  }
}
